@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Serif:opsz,wght@8..144,500&display=swap');

html, body {
  height: 100%;
}
body {
  font-family: 'Roboto Serif', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #222;
  line-height: 145%;
  background: #f9f9f9;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 300%;
  font-weight: 300;
  line-height: 120%;
  color :rgb(12, 86, 68)
}

.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgb(14, 127, 101) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:200px;
  fill:white;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:30vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:70vh;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.all {
  position: absolute;
  height: 100%;
  width: 100%;
}
.overlay {
  position: absolute;
  background: white;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
}
.overlay.current {
  opacity: 1;
  visibility: visible;
  z-index: 3;
}
.overlay .top {
  position:relative;
  height:300px;
  width:100%;
  background: rgba(19, 161, 138, 1);
}
.overlay .content {
  min-height: 200vh;
}

.home {
  position:relative;
  opacity:0;
  z-index:2;
  transition:1s all;
}
.home.current {
  opacity:1;
}
.swiper-container.pagescroll {
  width: 100%;
  height: 100%;
}
.pagescroll .swiper-slide {
  height: auto;
}
.pagescroll .swiper-scrollbar {
  height: 100%;
  width: 24px;
  top: 0;
  right: 0;
  opacity: 1 !important;
  border-radius: 0;
  background: transparent;
}
.pagescroll .swiper-scrollbar:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 8px;
  top: 0;
  right: 0;
  background: white;
  transition: 0.6s all;
  z-index: 1;
}
.pagescroll .swiper-scrollbar:hover:after {
  width: 18px;
  transition: 0.2s all;
}
.pagescroll .swiper-scrollbar-drag {
  position: absolute;
  width: 8px;
  left: auto;
  right: 0;
  margin: 0;
  border-radius: 0;
  background: rgba(19, 161, 138, 1);
  transition: 0.6s all !important;
  z-index: 2;
}
.pagescroll .swiper-scrollbar:hover .swiper-scrollbar-drag {
  width: 18px;
  transition: 0.2s all !important;
}

.events {
  width: 70%;
  max-width: 600px;
  margin:auto;
  margin-top: 30px;
}
.events p {
  margin: 20px 0;
}
.list {
}
.list-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-items: center;
  border-top: 1px solid #e8e8e8;
  transition:1s all;
  cursor: pointer;
}
.list-item:last-child {
  border-bottom: 1px solid #e8e8e8;
}
.overlay .list-item {
    position: absolute;
    bottom: 0;
    border: 0;
    transform: translateX(50%);
}
.list-item:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: -20px;
  padding:0 20px;
  background: transparent;
  box-shadow: 0 0 2px rgba(0,0,0,0);
  transition: 0.3s all;
  transform: scaleY(0.1);
  z-index: 1;
}
.home .list-item:hover:after {
  transform: scaleY(1);
  background: rgba(19, 161, 138, 1);
  box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
}
.list-item > * {
  position: relative;
  z-index: 2;
}
.list-item .date {
  width: 20%;
  margin-left: -20%;
  padding-right: 10%;
  box-sizing: border-box;
  text-align:center;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 32px;
}
.overlay .list-item .date {
  color:white;
}
.home .list-item:hover .date {
  color:rgba(19, 161, 138, 1);
}
.list-item .date-day {
  font-size: 32px;
  line-height: 140%;
  font-family: 'Bebas Neue', sans-serif;
}
.list-item .info {
  padding:20px;
  margin-left:-20px;
  font-size: 14px;
  
}
.home .list-item:hover .info,
.overlay .list-item .info {
  color:white;
  transition: 0.3s all;
}
.list-item .info-time {
  font-size: 16px;
  margin-bottom: 6px;
}
.list-item .info-title {
  font-size: 34px;
  line-height: 140%;
  font-family: 'Bebas Neue', sans-serif;
}
